{% extends 'beerinfo/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset-by-two nine columns">
        <h2>About</h2>
        <p>The Beer Information System is a full-featured Web-based demonstration application for the creation
        and maintenance of a simplified beer information database. This application is implemented using
            <a href="https://www.djangoproject.com">Django</a>.</p>
        </div>
    </div>
{% endblock %}
