{% extends 'beerinfo/base.html' %}
{% block title %}
    Bar List
{% endblock %}

{% block create_button %}
    {% if perms.beerinfo.add_bar %}
    <a
        href="{% url 'beerinfo_bar_create_urlpattern'  %}"
        class="button button-primary">
      Create New Bar</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>Bar List</h2>
    {% if perms.beerinfo.add_bar %}
    <div>
        <a href="{% url 'beerinfo_bar_create_urlpattern' %}"
            class="button button-primary">
            Create New Bar
        </a>
    </div>
    {% endif %}
    <ul>
        {% for bar in bar_list %}
            <li>
                <a href="{{ bar.get_absolute_url }}">{{ bar }}</a>
            </li>
        {% empty %}
            <li>There are currently no bars available.</li>
        {% endfor %}
    </ul>
{% endblock %}
