{% extends 'beerinfo/base.html' %}

{% block title %}
Delete Bar
{% endblock %}

{% block content %}
    <form
        action="{{ bar.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p> Are you sure that you want to delete bar {{ bar }}?
        </p>
        <a href="{{ bar.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete Bar</button>
    </form>
{% endblock %}
