{% extends 'beerinfo/base.html' %}

{% block title %}
    Bar - {{ bar }}
{% endblock %}

{% block content %}
    <h2>{{ bar }}</h2>
    <ul class="inline">
        {% if perms.beerinfo.change_bar %}
            <li><a href="{{ bar.get_update_url }}"
                   class="button">
                    Edit Bar</a></li>
        {% endif %}
        {% if perms.beerinfo.delete_bar %}
            <li><a href="{{ bar.get_delete_url }}"
                   class="button">
                    Delete Bar</a></li>
        {% endif %}
    </ul>

    <section>
        <table>
            <tr>
                <th>Bar Name:</th>
                <td>{{ bar.bar_name }}</td>
            </tr>
            <tr>
                <th>Bar City:</th>
                <td>{{ bar.bar_city }}</td>
            </tr>
            <tr>
                <th>Bar State:</th>
                <td>{{ bar.bar_state }}</td>
            </tr>
        </table>
    </section>
    <section>
        <h3>Staff</h3>
        <ul>
            {% for staff in bar.staff.all %}
                <li>
                    <a href="{{ staff.get_absolute_url }}">{{ staff }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no staff for this bar.</em></li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>Beers</h3>
        <ul>
            {% for beer in bar.beer.all %}
                <li>
                    <a href="{{ beer.get_absolute_url }}">{{ beer }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no beers for this bar.</em></li>
            {% endfor %}
        </ul>
    </section>
    <p>
        Return to <a href="{% url 'beerinfo_bar_list_urlpattern' %}">Bar List</a>.
    </p>
{% endblock %}
