{% extends 'beerinfo/base.html' %}

{% block title %}
    Beer Class - {{ beer_class }}
{% endblock %}

{% block content %}
    <h2>{{ beer_class }}</h2>
    <ul class="inline">
        {% if perms.beerinfo.change_beerclass %}
            <li><a href="{{ beer_class.get_update_url }}"
                   class="button">
                    Edit Beer Class</a></li>
        {% endif %}
        {% if perms.beerinfo.delete_beerclass %}
            <li><a href="{{ beer_class.get_delete_url }}"
                   class="button">
                    Delete Beer Class</a></li>
        {% endif %}
    </ul>
    <section>
        <table>
            <tr>
                <th>Beer Class:</th>
                <td>{{ beer_class.beer_class_name }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Beers</h3>
        <ul>
            {% for beer in beer_list %}
                <li>
                    <a href="{{ beer.get_absolute_url }}">{{ beer }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no beers with this beer class.</em></li>
            {% endfor %}
        </ul>
    </section>
    <p>
            Return to <a href="{% url 'beerinfo_beer_class_list_urlpattern' %}">Beer Class List</a>.
    </p>
{% endblock %}

