{% extends 'beerinfo/base.html' %}
{% block title %}
    Beer List
{% endblock %}
{% block create_button %}
    {% if perms.beerinfo.add_beer %}
    <a
        href="{% url 'beerinfo_beer_create_urlpattern'  %}"
        class="button button-primary">
      Create New Beer Class</a>
    {% endif %}
{% endblock %}
{% block content %}
    <h2>Beer List</h2>
    {% if perms.beerinfo.add_beer %}
    <div>
        <a href="{% url 'beerinfo_beer_create_urlpattern' %}"
        class="button button-primary">
            Create New Beer
        </a>
    </div>
    {% endif %}
    <ul>
        {% for beer in beer_list %}
            <li>
                <a href="{{ beer.get_absolute_url }}">{{ beer }}</a>
            </li>
        {% empty %}
            <li>There are currently no beers available.</li>
        {% endfor %}
    </ul>
{% endblock %}
