{% extends 'beerinfo/base.html' %}

{% block title %}
    Beer - {{  beer }}
{% endblock %}

{% block content %}
    <h2>{{ beer }}</h2>
    <ul class="inline">
        {% if perms.beerinfo.change_beer %}
            <li><a href="{{ beer.get_update_url }}"
                   class="button">
                    Edit Beer</a></li>
        {% endif %}
        {% if perms.beerinfo.delete_beer %}
            <li><a href="{{ beer.get_delete_url }}"
                   class="button">
                    Delete Beer</a></li>
        {% endif %}
    </ul>
    <section>
        <table>
            <tr>
                <th>Beer Name:</th>
                <td>{{ beer.beer_name }}</td>
            </tr>
            <tr>
                <th>Beer Class:</th>
                <td><a href="{{ beer_class.get_absolute_url }}">{{ beer_class }}</a> </td>
            </tr>
            <tr>
                <th>Beer Alcohol Content:</th>
                <td>{{ beer.beer_alc_content }}</td>
            </tr>
            <tr>
                <th>Beer Price:</th>
                <td>{{ beer.beer_price }}</td>
            </tr>
            <tr>
                <th>Brewery:</th>
                <td><a href="{{ brewery.get_absolute_url }}">{{ brewery }}</a> </td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Bars</h3>
        <ul>
            {% for bar in bar_list %}
                <li>
                    <a href="{{ bar.get_absolute_url }}">{{ bar }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no bars that serve this beer.</em></li>
            {% endfor %}
        </ul>
    </section>
    <p>
        Return to <a href="{% url 'beerinfo_beer_list_urlpattern' %}">Beer List</a>.
    </p>
{% endblock %}
