{% extends 'beerinfo/base.html' %}

{% block title %}
Delete Beer Class
{% endblock %}

{% block content %}
    <form
        action="{{ beer_class.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p> Are you sure that you want to delete beer class {{ beer_class }}?
        </p>
        <a href="{{ beer_class.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete Beer Class</button>
    </form>
{% endblock %}
