{% extends 'beerinfo/base.html' %}

{% block title %}
Delete Beer
{% endblock %}

{% block content %}
    <form
        action="{{ beer.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p> Are you sure that you want to delete beer {{ beer }}?
        </p>
        <a href="{{ beer.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete Beer</button>
    </form>
{% endblock %}
