{% extends 'beerinfo/base.html' %}

{% block title %}
    Beer Class List
{% endblock %}

{% block create_button %}
    {% if perms.beerinfo.add_beerclass %}
    <a
        href="{% url 'beerinfo_beer_class_create_urlpattern'  %}"
        class="button button-primary">
      Create New Beer</a>
    {% endif %}
{% endblock %}
{% block content %}
    {% if perms.beerinfo.add_beerclass %}
    <h2>Beer Class List</h2>
    <div>
        <a href="{% url 'beerinfo_beer_class_create_urlpattern' %}"
        class="button button-primary">
            Create New Beer Class
        </a>
    </div>
    {% endif %}
    <ul>
        {% for beer_class in beer_class_list %}
            <li>
                <a href="{{ beer_class.get_absolute_url }}">{{ beer_class }}</a>
            </li>
        {% empty %}
            <li>There are currently no beer classes available.</li>
        {% endfor %}
    </ul>
{% endblock %}
