{% extends 'beerinfo/base.html' %}

{% block title %}
Error Deleting Beer Class
{% endblock %}

{% block content %}
	<div>
		<h2>Error Deleting Beer Class</h2>
		<p>
            You may not delete beer class {{ beer_class }}. This beer class is currently associated with the following beer:
        </p>
        <ul>{% for beer in beers %}
            <li><a href="{{ beer_class.get_absolute_url }}">
                {{ beer }}</a></li>{%  endfor %}
        </ul>
        <p>
            Return to <a href="{% url 'beerinfo_beer_class_list_urlpattern' %}">Beer Class List</a>.
        </p>
    </div>
{% endblock %}
