{% extends 'beerinfo/base.html' %}

{% block title %}
Delete Brewery
{% endblock %}

{% block content %}
    <form
        action="{{ brewery.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p> Are you sure that you want to delete brewery {{ brewery }}?
        </p>
        <a href="{{ brewery.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete Brewery</button>
    </form>
{% endblock %}
