{% extends 'beerinfo/base.html' %}

{% block title %}
Error Deleting Brewery
{% endblock %}

{% block content %}
	<div>
		<h2>Error Deleting Brewery</h2>
		<p>
            You may not delete brewery {{ brewery }}. This brewery is currently associated with the following beer:
        </p>
        <ul>{% for beer in beers %}
            <li><a href="{{ brewery.get_absolute_url }}">
                {{ beer }}</a></li>{%  endfor %}
        </ul>
        <p>
            Return to <a href="{% url 'beerinfo_brewery_list_urlpattern' %}">Brewery List</a>.
        </p>
    </div>
{% endblock %}
