{% extends 'beerinfo/base.html' %}

{% block title %}
    Brewery - {{  brewery }}
{% endblock %}

{% block content %}
    <h2>{{ brewery }}</h2>
    <ul class="inline">
        {% if perms.beerinfo.change_brewery %}
            <li><a href="{{ brewery.get_update_url }}"
                   class="button">
                    Edit Brewery</a></li>
        {% endif %}
        {% if perms.beerinfo.delete_brewery %}
            <li><a href="{{ brewery.get_delete_url }}"
                   class="button">
                    Delete Brewery</a></li>
        {% endif %}
    </ul>
    <section>
        <table>
            <tr>
                <th>Brewery Name:</th>
                <td>{{ brewery.brewery_name }}</td>
            </tr>
            <tr>
                <th>Brewery City:</th>
                <td>{{ brewery.brewery_city }}</td>
            </tr>
            <tr>
                <th>Brewery State:</th>
                <td>{{ brewery.brewery_state }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Beers</h3>
        <ul>
            {% for beer in beer_list %}
                <li>
                    <a href="{{ beer.get_absolute_url }}">{{ beer }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no beers for this brewery.</em></li>
            {% endfor %}
        </ul>
    </section>
    <p>
        Return to <a href="{% url 'beerinfo_brewery_list_urlpattern' %}">Brewery List</a>.
    </p>
{% endblock %}
