{% extends 'beerinfo/base.html' %}
{% block title %}
    Brewery List
{% endblock %}
{% block create_button %}
    {% if perms.beerinfo.add_brewery %}
    <a
        href="{% url 'beerinfo_brewery_create_urlpattern'  %}"
        class="button button-primary">
      Create New Brewery</a>
    {% endif %}
{% endblock %}
{% block content %}
    <h2>Brewery List</h2>
    {% if perms.beerinfo.add_brewery %}
    <div>
        <a href="{% url 'beerinfo_brewery_create_urlpattern' %}"
        class="button button-primary">
            Create New Brewery
        </a>
    </div>
    {% endif %}
    <ul>
        {% for brewery in brewery_list %}
            <li>
                <a href="{{ brewery.get_absolute_url }}">{{ brewery }}</a>
            </li>
        {% empty %}
            <li>There are currently no breweries available.</li>
        {% endfor %}
    </ul>
{% endblock %}
