{% extends 'beerinfo/base.html' %}

{% block title %}
Error Deleting Customer
{% endblock %}

{% block content %}
	<div>
		<h2>Error Deleting Customer</h2>
		<p>
            You may not delete customer {{ customer }}. This customer is currently associated with the following purchase:
        </p>
        <ul>{% for purchase in purchases %}
            <li><a href="{{ customer.get_absolute_url }}">
                {{ purchase }}</a></li>{%  endfor %}
        </ul>
        <p>
            Return to <a href="{% url 'beerinfo_customer_list_urlpattern' %}">Customer List</a>.
        </p>
    </div>
{% endblock %}
