{% extends 'beerinfo/base.html' %}
{% block title %}
    Bar List
{% endblock %}
{% block create_button %}
    {% if perms.beerinfo.add_customer %}
    <a
        href="{% url 'beerinfo_customer_create_urlpattern'  %}"
        class="button button-primary">
      Create New Customer</a>
    {% endif %}
{% endblock %}
{% block content %}
    <h2>Customer List</h2>
    {% if perms.beerinfo.add_customer %}
    <div>
        <a href="{% url 'beerinfo_customer_create_urlpattern' %}"
        class="button button-primary">
            Create New Customer
        </a>
    </div>
    {% endif %}
    <ul>
        {% for customer in customer_list %}
            <li>
                <a href="{{ customer.get_absolute_url }}">{{ customer }}</a>
            </li>
        {% empty %}
            <li>There are currently no customers available.</li>
        {% endfor %}
    </ul>
{% endblock %}

