{% extends 'beerinfo/base.html' %}

{% block title %}
Delete Customer
{% endblock %}

{% block content %}
    <form
        action="{{ customer.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p> Are you sure that you want to delete customer {{ customer }}?
        </p>
        <a href="{{ customer.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete Customer</button>
    </form>
{% endblock %}
