{% extends 'beerinfo/base.html' %}

{% block title %}
    Customer - {{ customer }}
{% endblock %}

{% block content %}
    <h2>{{ customer }}</h2>
    <ul class="inline">
        {% if perms.beerinfo.change_customer %}
            <li><a href="{{ customer.get_update_url }}"
                   class="button">
                    Edit Customer</a></li>
        {% endif %}
        {% if perms.beerinfo.delete_customer %}
            <li><a href="{{ customer.get_delete_url }}"
                   class="button">
                    Delete Customer</a></li>
        {% endif %}
    </ul>
    <section>
        <table>
            <tr>
                <th>First Name:</th>
                <td>{{ customer.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ customer.last_name }}</td>
            </tr>

        </table>
    </section>
    <section>
        <h3>Purchases</h3>
        <ul>
            {% for purchase in purchase_list %}
                <li>
                    <a href="{{ purchase.get_absolute_url }}">{{ purchase }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no purchases for this customer.</em></li>
            {% endfor %}
        </ul>
    </section>
    <p>
        Return to <a href="{% url 'beerinfo_customer_list_urlpattern' %}">Customer List</a>.
    </p>
{% endblock %}
