{% extends 'beerinfo/base.html' %}
{% block title %}
    Purchase List
{% endblock %}
{% block create_button %}
    {% if perms.beerinfo.add_purchase %}
    <a
        href="{% url 'beerinfo_purchase_create_urlpattern'  %}"
        class="button button-primary">
      Create New Purchase</a>
    {% endif %}
{% endblock %}
{% block content %}
    <h2>Purchase List</h2>
    {% if perms.beerinfo.add_purchase %}
    <div>
        <a href="{% url 'beerinfo_purchase_create_urlpattern' %}"
        class="button button-primary">
            Create New Purchase
        </a>
    </div>
    {% endif %}
    <ul>
        {% for purchase in purchase_list %}
            <li>
                <a href="{{ purchase.get_absolute_url }}">{{ purchase }}</a>
            </li>
        {% empty %}
            <li>There are currently no purchases available.</li>
        {% endfor %}
    </ul>
{% endblock %}
