{% extends 'beerinfo/base.html' %}

{% block title %}
Delete Purchase
{% endblock %}

{% block content %}
    <form
        action="{{ purchase.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p> Are you sure that you want to delete purchase {{ purchase }}?
        </p>
        <a href="{{ purchase.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete Purchase</button>
    </form>
{% endblock %}
