{% extends 'beerinfo/base.html' %}

{% block title %}
    Purchase - {{ purchase }}
{% endblock %}

{% block content %}
    <h2>{{ purchase }}</h2>
    <ul class="inline">
        {% if perms.beerinfo.change_purchase %}
            <li><a href="{{ purchase.get_update_url }}"
                   class="button">
                    Edit Purchase</a></li>
        {% endif %}
        {% if perms.beerinfo.delete_purchase %}
            <li><a href="{{ purchase.get_delete_url }}"
                   class="button">
                    Delete Purchase</a></li>
        {% endif %}
    </ul>
    <section>
        <table>
            <tr>
                <th>Customer:</th>
                <td><a href="{{ customer.get_absolute_url }}">{{ customer }}</a> </td>
            </tr>
            <tr>
                <th>Staff:</th>
                <td><a href="{{ staff.get_absolute_url }}">{{ staff }}</a> </td>
            </tr>
            <tr>
                <th>Beer:</th>
                <td><a href="{{ beer.get_absolute_url }}">{{ beer }}</a> </td>
            </tr>
            <tr>
                <th>Bar:</th>
                <td><a href="{{ bar.get_absolute_url }}">{{ bar }}</a> </td>
            </tr>
            <tr>
                <th>Total:</th>
                <td>{{ purchase.total }}</td>
            </tr>
        </table>
    </section>
    <p>
        Return to <a href="{% url 'beerinfo_purchase_list_urlpattern' %}">Purchase List</a>.
    </p>
{% endblock %}
