{% extends 'beerinfo/base.html' %}

{% block title %}
Error Deleting Staff
{% endblock %}

{% block content %}
	<div>
		<h2>Error Deleting Staff</h2>
		<p>
            You may not delete staff {{ staff }}. This bar is currently associated with the following bar:
        </p>
        <ul>{% for bar in bars %}
            <li><a href="{{ staff.get_absolute_url }}">
                {{ beer }}</a></li>{%  endfor %}
        </ul>
        <p>
            Return to <a href="{% url 'beerinfo_staff_list_urlpattern' %}">Staff List</a>.
        </p>
    </div>
{% endblock %}
