{% extends 'beerinfo/base.html' %}

{% block title %}
Delete Staff
{% endblock %}

{% block content %}
    <form
        action="{{ staff.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p> Are you sure that you want to delete staff {{ staff }}?
        </p>
        <a href="{{ staff.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete Staff</button>
    </form>
{% endblock %}
