{% extends 'beerinfo/base.html' %}

{% block title %}
    Staff - {{ staff }}
{% endblock %}

{% block content %}
    <h2>{{ staff }}</h2>
    <ul class="inline">
        {% if perms.beerinfo.change_staff %}
            <li><a href="{{ staff.get_update_url }}"
                   class="button">
                    Edit Staff</a></li>
        {% endif %}
        {% if perms.beerinfo.delete_staff %}
            <li><a href="{{ staff.get_delete_url }}"
                   class="button">
                    Delete Staff</a></li>
        {% endif %}
    </ul>
    <section>
        <table>
            <tr>
                <th>First Name:</th>
                <td>{{ staff.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ staff.last_name }}</td>
            </tr>
        </table>
    </section>

        <section>
        <h3>Bars</h3>
        <ul>
            {% for bar in bar_list %}
                <li>
                    <a href="{{ bar.get_absolute_url }}">{{ bar }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no bars for this staff member.</em></li>
            {% endfor %}
        </ul>
    </section>
    <p>
        Return to <a href="{% url 'beerinfo_staff_list_urlpattern' %}">Staff List</a>.
    </p>
{% endblock %}
