{% extends 'beerinfo/base.html' %}
{% block title %}
    Bar List
{% endblock %}
{% block create_button %}
    {% if perms.beerinfo.add_staff %}
    <a
        href="{% url 'beerinfo_staff_create_urlpattern'  %}"
        class="button button-primary">
      Create New Staff</a>
    {% endif %}
{% endblock %}
{% block content %}
    <h2>Staff List</h2>
    {% if perms.beerinfo.add_staff %}
    <div>
        <a href="{% url 'beerinfo_staff_create_urlpattern' %}"
        class="button button-primary">
            Create New Staff
        </a>
    </div>
    {% endif %}

    <ul>
        {% for staff in staff_list %}
            <li>
                <a href="{{ staff.get_absolute_url }}">{{ staff }}</a>
            </li>
        {% empty %}
            <li>There are currently no staff available.</li>
        {% endfor %}
    </ul>
{% endblock %}
